{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Window Team 3's Store | Cart</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>


<body>
    <div class="main-layout">
        <div class="shopping-cart-full">
            <h3 class="container-title">My Shopping Cart:</h3>
            <h4 class="container-subtitle">{{ cart.get_items.count }} product(s) in cart</h4>
            <hr />
            <div class="shopping-cart-contents">
                <list class="shopping-cart-list">
                    {% for item in cart.get_items %}
                        <li class="shopping-cart-item">{{ item.product.name }} | {{ item.product.price }} | x{{ item.quantity }}</li>
                    {% empty %}
                        <span>Your cart has no items!</span>
                    {% endfor %}
                </list>
            </div>
            <button type="button" class="checkout-button">Check Out</button>
        </div>
    </div>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>